
*,
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: 'Press Start 2P';
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: bold;
  
}
h1{
  font-size: 40px;
  color: rgb(237, 177, 26);
  font-weight: bold;
  text-shadow: 1px rgb(28, 27, 27);
  word-spacing: -8px; 
  padding-left: 10px;
  text-align: center;
  padding-bottom: 2px;
 
  
}

h2 {
  font-size: 15px;
  color: rgb(232, 229, 229);
  padding-left: 1px;
}

a {
  font-size: 17px;
  font-weight: bold;

 }

#page:hover{
  background: transparent;

}

/* a:hover{
 color: rgb(2, 16, 36);
 background: rgb(232, 229, 229);
} */

h3 {
  font-size: 15px;
  color: rgb(237, 177, 26);
  text-shadow: 1px rgb(28, 27, 27);
  text-align: center;
  text-shadow: 0px 0px 2px 0px rgb(237, 177, 26);


};


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  
}
nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
 
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
body,
html {
   /* background-color: rgb(2, 16, 36);  */
   background-image: linear-gradient(to top, #031b48 0%, #021539 1%, #000d22 100%);
  
}
header {
  background: rgb(1, 24, 55);
  margin-top: auto;
  position: fixed;
  line-height: 1;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  height: 60px;
 

}
nav {
  display: inline-block;
  margin-right: 20px;
  /* box-shadow: 1px 1px 4px rgb(255, 187, 13); */
  
}


nav ul li a {
  background: rgb(2, 16, 36);
  padding: 5px 3px 4px 4px;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 4px 8px 4px rgba(7, 7, 7, 0.824);
  text-shadow: 1px rgb(28, 27, 27);
  
 
}
 nav ul li a:hover {
box-shadow: 2px 4px 8px 4px #0d6efd;  
}

nav ul li {
  display: flex;
  margin: 3px;
  margin-top: 20px;
  
}
nav ul {
  list-style: none;
}

#yellow{
  margin-bottom: 5px;
  padding-bottom: 20px;
 
}

article{
  /* background: transparent; */
  line-height:  1.5;
  padding: 5px 8px 8px;
  border-radius: 4px;
  width: 95%;
  margin:0% 2.5%;
  margin-top: 12px;
  color: rgb(228, 226, 226);
  background:rgb(1, 24, 55); 
  box-shadow: 2px 4px 8px 4px rgba(7, 7, 7, 0.824);
  text-shadow: 1px rgb(28, 27, 27);
};

article:hover {
  box-shadow: 2px 4px 8px 4px #0d6efd;  
  }


p {
font-size: 11px;
text-shadow: 1px rgb(28, 27, 27);
text-decoration:solid black; 
padding-left: 5px;


}

article h2 {
  font-weight: bold;
  margin-top: 0px;
  padding-bottom: 2px;
  

  
}
footer {
  background: transparent;
  max-width: 1000px;
  margin: 0 -20px;;
  clear: both;
  text-align: right;
}
footer p {
  padding: 20px;
  color:rgb(232, 229, 229);
  font-size: 10px;
}
address {
  padding: 10px 20px 30px 10px;
}


aside > div {
  margin-bottom: 10px;
  margin-left: 8px;
  background: rgb(2, 16, 36);
  min-height: 10px;
  width: 150px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgb(255, 187, 13);

}


  h4 {
    font-size: 12px;
    text-align:center;
    padding-top: 10px;
    color: rgb(232, 229, 229);
   
  
}

a {
  display: block;
  padding: 0.5rem 1rem;
  color:#0d6efd;
  text-decoration: underline;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  transition-property: color, background-color, border-color;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s;
  /* text-shadow: 2px 2px 4px #0252cb */
}

.nav-link {

  display: block;
  padding: 0.5rem 1rem;
  color:  #0d6efd;
  text-decoration: solid black;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  transition-property: color, background-color, border-color;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s;


};

.nav-link:hover {
  box-shadow: 2px 4px 8px 8px #0d6efd;
};


body > section {
  max-width: 100%;
  margin: auto;
  border-bottom: 1px solid #999;
  
}

#sidebarBackTop {
  background: #286983;
  color: rgb(232, 229, 229);
  opacity: 0.8;
  cursor: pointer;
  display: block;
  padding: 5px;
  
}
#sidebar a.back2Top {
  text-decoration: none; 
  text-align: center;
  background: rgb(1, 24, 55);
  color: rgb(232, 229, 229);
  font-weight: bold;
  padding-bottom: 12px;
  display: block;
  font-size: 14px;
  padding-right: 27px;
}
#sidebar a.back2Top:hover {
  color: #0d6efd;
}
#sidebarContent {
  width: 195px;
  background:rgb(1, 24, 55);
  padding-left: 14px;
  padding-top: 130px;



  
}
footer a {
  color: rgb(232, 229, 229);
}
#main {
  margin-left: 190px;
  margin-right:0;
  margin-top: 5px;
}
#wrapall {
  padding-top: 55px;
}
#header {
  max-width: 1000px;
  overflow: hidden;

}
#wrapall,
#header {
  max-width: 1000px;
  
}
#headerLeft,
#headerRight {
  display: inline-block;
  vertical-align: middle;
}
#headerLeft {
  text-align: center;
  /* width: 120px; */
  float: left;
  
}
#headerRight {
  height: 50px;
  float: right;
}
#sidebar {
  float: left;
  margin-left: 0;
  box-shadow: -2px 2px 20px rgba(#000, 0.5);
  bottom: 0;

  
}


#menuToggle {
  width: 155px;
  margin-top: 5px;
  margin-left: 3px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgb(255, 187, 13);

}

#menuToggle:hover {
  box-shadow: 2px 2px 8px 4px rgb(255, 187, 13);
}
.stick #sidebarContent {
  float: left;
  position: fixed;
  bottom: 0;

  
};

@media screen and (max-width: 920px) {

  #headeRight{
    float: right;
  }
  #headerRight {
    height: auto;
    position: absolute;
    width: auto;
    top: 46px;
    background: #6f9898;
    left: 0;
    display: none;
  };
nav ul li a {
  display: block;
  background: transparent;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 3px 29px;
  line-height: 25px;
}

nav ul li {
  display: block;
  margin: 0;
}

}
}

@media screen and (max-width: 800px) {

  #headerRight {
    height: auto;
    position: absolute;
    width: auto;
    left: 0;
    display: none;
  };
nav ul li a {
  display: block;
  background: transparent;
  font-size: 16px;
  padding: 3px 29px;
  line-height: 25px;
}

nav ul li {
  display: block;
  margin: 0;
}

}


@media screen and (max-width: 600px) {
  #headeRight{
    float: right;
  }
  #headerRight {
    height: auto;
    position: absolute;
    width: auto;
    top: 46px;
    background: #6f9898;
    left: 0;
    display: none;
  };
nav ul li a {
  display: block;
  background: transparent;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 3px 29px;
  line-height: 25px;
}

nav ul li {
  display: block;
  margin: 0;
}

}
}