html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: "Press Start 2P";
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: bold;
}
h1 {
  font-size: 40px;
  color: #ffcf00;
  font-weight: bold;
  text-shadow: 1px 1px 4px #ffcf00 3px rgb(28, 27, 27);
  word-spacing: -8px;
  text-align: center;
  padding: 5px 0px 0px 3px;
}

h2 {
  font-size: 15px;
  color: rgb(232, 229, 229);
  padding-top: 3px;
  text-shadow: 1px rgb(28, 27, 27);
}
h3 {
  font-size: 15px;
  color: #ffcf00;
  text-shadow: 1px rgb(28, 27, 27);
  text-align: center;
  word-spacing: -8px;
}
h4 {
  font-size: 12px;
  text-align: center;
  padding: 15px;
  color: rgb(232, 229, 229);
  text-shadow: 1px rgb(28, 27, 27);
  text-align: left;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
body,
html {
  background-image: linear-gradient(
    to top,
    #031b48 0%,
    #021539 1%,
    #000d22 50%
  );
}
header {
  background: rgb(1, 24, 55);
  padding: 10px 40px;
  margin: auto;
  position: fixed;
  /* line-height: 1; */
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  height: 60px;
}
nav {
  float: right;
  right: 0;
  top: 0;
  margin-right: 20px;
  margin-top: 20px;
  position: absolute;
  color: #0d6efd;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  transition-property: color, background-color, border-color;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s;
}
/* margin-right: 20px; */
/* box-shadow: 1px 1px 4px rgb(255, 187, 13); */

#stack, #github, #dailydev, #mdn, #w3{
  box-shadow: 1px 1px 1px 1px #ffcf00;
}
#stack:hover, #github:hover, #dailydev:hover, #mdn:hover, #w3:hover{
  box-shadow: 1px 2px 2px 1px #0d6efd;
}
nav ul li a {
  background: rgb(2, 16, 36);
  padding: 8px 4px 4px 4px;
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 3px 4px 3px rgba(7, 7, 7, 0.824);
  text-shadow: 1px rgb(28, 27, 27);
}
nav ul li a:hover {
  box-shadow: 1px 2px 2px 1px #0d6efd;
}
nav ul li {
  display: inline-block;
  top: 0;
  margin: -5px;
}
nav ul {
  list-style: none;
}
#yellow{
  margin-bottom: 5px;
  padding-bottom:5px;
  box-shadow: 1px 1px 1px 1px #ffcf00;
  
}
#yellow:hover {
  box-shadow: 1px 1px 1px 1px #ffcf00;
}
article {
  /* background: transparent; */
  line-height: 1.5;
  padding-bottom: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  min-width: 305px;
  width: 100%;
  margin-top: 15px;
  color: rgb(232, 229, 229);
  background: rgb(1, 24, 55);
  box-shadow: 2px 4px 8px 4px rgba(7, 7, 7, 0.824);
  text-shadow: 1px rgb(28, 27, 27);
}
article:hover {
  box-shadow: 2px 2px 2px 2px #0d6efd;
}
article h2 {
  font-weight: bold;
  margin-bottom: 5px;
  padding-bottom: 0px;
}
p {
  font-size: 11px;
  text-shadow: 1px rgb(28, 27, 27);
  text-decoration: solid black;
  padding-left: 15px;
  padding-right: 2px;
}
footer {
  background: transparent;
  max-width: 1000px;
  margin: 0 -20px;
  clear: both;
  text-align: right;
  word-spacing: -5px;
}
footer p {
  padding: 10px;
  color: rgb(232, 229, 229);
  font-size: 10px;
}
address {
  padding: 10px 20px 30px 10px;
}
aside > div {
  margin: 12px auto;
  padding-top: 40px;
  min-height: 20px;
  margin-left: 5px;
  background: rgb(2, 16, 36);
  /* min-height: 150px; */
  width: 155px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 1px 2px 1px #ffcf00;
}
aside > div:hover {
  box-shadow: 1px 2px 1px #0d6efd;
}
body > section {
  max-width: 1000px;
  margin: auto;
  padding-top: 30px 0px;
}
a {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #ffcf00;
  text-decoration: underline;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  transition-property: color, background-color, border-color;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s;
}
.nav-link:hover {
  box-shadow: 2px 2px 2px #0d6efd;
}
#sidebarBackTop {
  background: rgb(1, 24, 55);
  color: rgb(232, 229, 229);
  opacity: 0.8;
  cursor: pointer;
  display: block;
  padding: 5px;
}
#sidebar a.back2Top {
  text-decoration: none;
  text-align: center;
  background: rgb(1, 24, 55);
  color: rgb(232, 229, 229);
  font-weight: bold;
  padding-bottom: 12px;
  display: block;
  font-size: 13px;
  padding-right: 18px;
}
#sidebar a.back2Top:hover {
  color: #0d6efd;
}
#sidebarContent {
  padding-top: 125px;
  width: 183px;
  background: rgb(1, 24, 55);
  padding-left: 8px;
}
footer a {
  color: rgb(232, 229, 229);
}
#main {
  margin-left: 175px;
  margin-right: 0px;
}
#wrapall {
  padding-top: 38px;
}
#header {
  max-width: 1000px;
  overflow: hidden;
  height: 60px;
}
#wrapall,
#header {
  max-width: 1100px;
  margin: 0 auto;
}
#headerLeft,
#headerRight {
  display: inline-block;
  vertical-align: middle;
}
#headerLeft {
  text-align: center;
  width: 100px;
}
#headerRight {
  height: 60px;
}
#sidebar {
  position: absolute;
  float: left;
  box-shadow: -2px 2px 20px rgba(#000, 0.5);
}
#page {
  padding: 20px;
}

#menuToggle {
  width: 152px;
  margin-left: 14px;
  margin-top: 10px;
  position: fixed;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px #ffcf00;
  left: 0;
  top: 0;
}

#menuToggle:hover {
  box-shadow: 2px 2px 2px 2px #0d6efd;
}
.stick #sidebarContent {
  position: fixed;
  z-index: 900;
  bottom: 0px;
}

#title{
padding-top: 15px;
font-size: 18px;
}

a#list {
  color:rgb(232, 229, 229);
  font-size: 13px;
  text-decoration: None;
}

a#list:hover{
  color: #0d6efd;

}


/* .sidebarToggle #main {
  margin-left: 0; */

@media screen and (max-width: 800px) {

  nav {
    width: 70%;
    margin-top: 4px;
  }
  nav ul li a {
    font-size: 12px;
  }
  nav ul li {
    margin-bottom: 2px;
    margin-right: -7px;
  }

  #headerRight {
    float: right;
    text-align: right;
  }

/*   
  #page {
    padding: 20px;
  }

  #main {
    margin-left: 190px;
    margin-right: 0px;
  }
  #wrapall {
    padding-top: 38px;
  }
  #headerLeft,
  #headerRight {
    display: inline-block;
    vertical-align: middle;
  }
  #header {
    max-width: 1000px;
    overflow: hidden;
    height: 60px;
  }
  #wrapall,
  #header {
    max-width: 1000px;
    margin: 0 auto;
  }
  header {
    z-index: 999;
    height: 60px;
  }

  #headerLeft {
    text-align: center;
    width: 100px;
  }
  #headerRight {
    float: right;
    text-align: right;
  }
  aside > div {
    padding-top: 48px;
    min-height: 15px;
    margin-left: 5px;
    background: rgb(2, 16, 36);
    width: 155px;
    padding: 5px 3px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 1px 2px 1px #ffcf00;
  }
  #menuToggle {
    width: 159px;
    margin-left: 17px;
    margin-top: 10px;
    position: fixed;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px #ffcf00;
    left: 0;
    top: 0;
  }

  #sidebar {
    position: absolute;
    float: left;
    box-shadow: -2px 2px 20px rgba(#000, 0.5);
  }

  #sidebarContent {
    padding-top: 133px;
    width: 193px;
    position: absolute;
    float: left;
    box-shadow: -2px 2px 20px rgba(#000, 0.5);
  }

  .stick #sidebarContent {
    position: fixed;
    z-index: 900;
    bottom: 0px;
  }
} */

@media screen and (max-width: 600px) {
  /* #main {
    margin-left: 190px;
    margin-right: 0px;
  }
  #wrapall {
    padding-top: 38px;
  }
  #header {
    max-width: 600px;
    overflow: hidden;
    height: 60px;
  }
  #wrapall,
  #header {
    max-width: 600px;
    margin: 0 auto;
  }
  #headerLeft,
  #headerRight {
    display: inline-block;
    vertical-align: middle;
  }
  #headerLeft {
    text-align: center;
    width: 100px;
  } */

  nav {
    width: 60%;
    margin-top: 3px;
  }

  nav ul li a {
    font-size: 11px;
    margin-bottom: 1px;
    margin-top: 2px;
  }

  nav ul li {
    margin-bottom: 2px;
    margin-right: -7px;
  }

  #headerRight {
    float: right;
    text-align: right;
  }
}

}


@media screen and (max-width: 420px) {

  nav {
    display: 50%;
    
  }


  nav ul li a {
    font-size: 8px;
    margin-bottom: 1px;
    margin-top: 2px;
  }

  nav ul li {
    margin-bottom: 2px;
    margin-right: -7px;
    
  }

  #headerRight {
    float: right;
    text-align: right;

  }

  #main {
    margin-left: 180px;
  
  }



}